name: Upload back-end

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@main
    - run: |
          cd node-mongo-registration-login-api
          npm install
          npm run build
        
           
           
